{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            OPENMIND | Live your life by your way
        </title>
    </head>
    <body>
        <div>
            <header>
                <h1>
                    OPENMIND
                </h1>
            </header>
        </div>
        <div>
            <form action="/your_name/" method="post">
                <label for="your_n">Your name:</label>
                <input id="your_n"


            </form>
        </div>
        <div>
            <form>

            </form>
        </div>
        <div>
            <form>
                <input type = "submit" value="Sign In">

                </input>
            </form>
        </div>
    </body>
</html>
