<style>
*{
    margin: 0px;
    padding: 0px;
}

#wrapper{
    width: 800px;
    margin: auto;
    color: #F4FF77;
}

#header{
    width: 800px;
    height: 80px;
    background-color: #09F;
}

#menu{
    width: 800px;
    height: 50px;
    background-color: #f39a0d;
}

#left{
    width: 200px;
    height: 400px;
    background-color: #f39a0d;
    float: left;
}

#content{
    width: 400px;
    height: 400px;
    background-color: #f39a0d;
    float: left;
}

#right{
    width: 200px;
    height: 400px;
    background-color: #f39a0d;
    float: left;
}

#footer{
    width: 800px;
    height: 60px;
    background-color: #f39a0d;
    clear: both;
}
</style>