{% load staticfiles %}
<!DOCTYPE html>
<!--
    This is a starter template page. Use this page to start your new project from
    scratch. This page gets rid of all links and provides the needed markup only.
-->
<link rel="stylesheet" href="/static/adminpages/home.css">
<html>
    <head>
        <title>OPEN MIND</title>
    </head>
    <header>
        <div>
            <p>OPENMIND</p>
        </div>
        <div>
            <button href="/login/">Sign In</button>
        </div>
        <div>
            <button>Sign Up</button>
        </div>
    </header>
    {% block content %}
    <body>
        <section>
            <nav  class="nav" >
                <ul>
                    <li>
                        <a>Đọc lướt</a>
                    </li>
                    <li>
                        <a >Thư viện</a>
                    </li>
                    <li>
                        <a>Điểm sách</a>
                    </li>
                    <li>
                        <a>Tuyển tập</a>
                    </li>
                    <li>
                        <a>Phong cách đọc</a>
                    </li>
                    <li>
                        <a>Từ sách đến đời</a>
                    </li>
                    <li>
                        <a>Sự kiện </a>
                    </li>
                    <li>
                        <a>Tôi đọc gì</a>
                    </li>
                </ul>
            </nav>
        </section>
    <!-- Content Header (Page header) -->
        <div >
            <section>
                <article id="bookset">Danh sach sach moi</article>
                <div class="hr"> </div>
                <article id="bookset">Danh sach bookset</article>
                <div class="hr"> </div>
                <article  id="bookset">Danh sach bookcollection</article">
                 <div class="hr"> </div>
                <article id="bookset">Danh sach bookstory</article>
                 <div class="hr"> </div>
                <article id="bookset">Danh sach author</article>
                 <div class="hr"> </div>
                <article id="bookset">Danh sach quotes</article>
            </section>
        </div>
    </body>
    {% endblock content %}
     <!-- Main Footer -->
    <footer class="footer">
        <!-- To the right -->
        <div>
            Have a nice day ;)
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2019 OpenMind. </strong> All rights reserved.
    </footer>
</html>
