<!DOCTYPE html>
<html lang="vi">
{% block page_header %}
    <div class="content">
        <p class="text-size-4 text-center">
            OPENMIND
        </p>
    </div>
    <div class="image-with-cap">
        <img src="/static/image/home.jpeg">
        <p class="text-size-1 text-center cap"> Hai chú mèo mèo hoang đang tản bộ ở đảo Sanagishima(cat) Island (Kagawa, Japan). Đây được coi như thiên đường cho những người yêu mèo.</p>
    </div>
{% endblock %}

<nav class="w3-container menu">
    <ul>
        <li class="icon_social">
            <a href="http://tramdoc.vn" target="_blank"><i class="fa fa-home" aria-hidden="true" style="color: #231f20;font-size: 16px;"></i></a>
        </li>
        <li>
            <a href="/tom-tat-sach"><i class=""></i>Đọc lướt</a>
        </li>
        <li>
            <a href="/thu-vien-cnz0W.html"><i class=""></i>Thư viện</a>
                <ul class="menu-child">
                    <li>
                        <a href="/triet-hoc-ton-giao-cnRQW.html"><i class=""></i>Triết học - Tôn giáo</a>
                            <span class="icon-dropdown"></span>
                            <ul class="menu-child-end">
                                <li>
                                    <a href="/triet-hoc-phuong-tay-cngDW.html"><i class=""></i>Triết học phương Tây</a>
                                </li>
                            </ul>
                     </li>
        <li>
            <a href="/diem-sach-cnNqW.html"><i class="icon-start"></i>Điểm sách</a>
        </li>
        <li>
            <a href="/tuyen-tap-cnloW.html"><i class="icon-lib"></i>Tuyển tập</a>
                <ul class="menu-child">
                    <li>
                        <a href="/phai-doc-cnLYRW.html"><i class=""></i>Phải đọc</a>
                    </li>
                    <li>
                        <a href="/phat-trien-ban-than-cnqbwW.html"><i class=""></i>Phát triển bản thân</a>
                    </li>
        <li>
            <a href="/phong-cach-doc-cnKdW.html"><i class="icon-bl"></i>Phong cách đọc</a>
        </li>
        <li>
            <a href="/tu-sach-den-doi-cnE5DW.html"><i class=""></i>Từ sách đến đời</a>
                <ul class="menu-child">
                    <li>
                        <a href="/cong-viec-cn9lxW.html"><i class=""></i>Công việc</a>
                            <span class="icon-dropdown"></span>
                                <ul class="menu-child-end">
                                    <li>
                                        <a href="/vui-buon-cong-so-cnWjoW.html"><i class=""></i>Vui buồn công sở</a>
                                    </li>
                                    <li>
                                        <a href="/ky-nang-cnzd0W.html"><i class=""></i>Kỹ năng</a>
                                    </li>
                                </ul>
                    </li>
                </ul>
        </li>
        <li>
            <a href="/su-kien-sach-cn3eW.html"><i class="icon-pp"></i>Sự kiện </a>
        </li>
        <li>
            <a href="/toi-doc-gi"><i class="icon-new"></i>Tôi đọc gì</a>
        </li>
        <li class="icon_social"><a href="https://www.facebook.com/tramdocvn/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true" style="color: #286090"></i></a></li>
        <li class="icon_social"><a href="/rss.html" target="_blank"><i class="fa fa-rss" aria-hidden="true" style="color: #ff9933;"></i></a></li>
    </ul>
</nav>


<div class="clear"></div>

<div class="w3-container-fluid" id="border-bottom-menu"></div>

<!-- ======= Button lên đầu trang ======= -->
{#<div class="scrollTop">#}
{#    <a href="javascript:void(0)" id="btn-top">#}
{#        <img src="/themes/test_desktop/images/arrow_top_icon.png">#}
{#    </a>#}
{#</div>#}

<div class="clear"></div>
    <div class="w3-container content">
        <div id="overlay-bg"></div>
        <div class="home_content_top">
            <div class="w3-col l6 m6 s12 slide_large">
                <div class="skitter skitter-themed skitter-clean">
                    <ul>
                        <li>
                            <a href="http://tramdoc.vn/tin-tuc/sapiens-luoc-su-loai-nguoi-buoc-di-trong-vo-dinh-nmg8yW.html" target="_blank">
                                <img src="http://300b5338.vws.vegacdn.vn/image/img.news/0/0/0/4669.jpg?v=1&w=480&h=295&nocache=1" class="cut" alt=""Sapiens: Lược sử loài người": Bước đi trong vô định"/>
                            </a>
                                <div class="label_text">
                                    <div id="news_intro">
                                        <div id="news_title"><a href="http://tramdoc.vn/tin-tuc/sapiens-luoc-su-loai-nguoi-buoc-di-trong-vo-dinh-nmg8yW.html">"Sapiens: Lược sử loài người": Bước đi trong vô định</a></div>
                                        <div id="news_brief">Một hành trình đi xuyên suốt toàn bộ lịch sử của loài người, Homo Sapiens, được gói gọn trong 500 trang sách.  Nhưng...</div>
                                        <div id="news_info">
                                            <span id="news_time">06.03.2019</span>
                                        </div>
                                    </div>
                                </div>
                        </li>
                        <li>
                            <a href="http://tramdoc.vn/tin-tuc/phi-ly-tri-thach-thuc-danh-cho-nhung-ai-tu-tin-minh-luon-hanh-dong-theo-ly-tri-p1-nARNDW.html" target="_blank">
                                <img src="http://300b5338.vws.vegacdn.vn/image/img.news/0/0/0/4671.jpg?v=1&w=480&h=295&nocache=1" class="cut" alt="Phi lý trí: Thách thức dành cho những ai tự tin mình luôn hành động theo lý trí (P1)"/>
                            </a>
                                <div class="label_text">
                                    <div id="news_intro">
                                        <div id="news_title"><a href="http://tramdoc.vn/tin-tuc/phi-ly-tri-thach-thuc-danh-cho-nhung-ai-tu-tin-minh-luon-hanh-dong-theo-ly-tri-p1-nARNDW.html">Phi lý trí: Thách thức dành cho những ai tự tin mình luôn hành động theo lý trí (P1)</a></div>
                                        <div id="news_brief">Tại sao bạn sẵn sàng mua một món hàng có giá 60.000 đồng kèm chính sách miễn phí vận chuyển (freeship), song lại đắn...</div>
                                        <div id="news_info">
                                            <span id="news_time">06.03.2019</span>
                                        </div>
                                    </div>
                                </div>
                        </li>
                        <li>
                            <a href="http://tramdoc.vn/tin-tuc/tran-chien-dinh-menh-stalingrad-nhin-tu-khia-canh-con-nguoi-nMO6QW.html" target="_blank">
                                <img src="http://300b5338.vws.vegacdn.vn/image/img.news/0/0/0/4683.jpg?v=2&w=480&h=295&nocache=1" class="cut" alt="Trận chiến định mệnh Stalingrad nhìn từ khía cạnh con người"/>
                            </a>
                                <div class="label_text">
                                    <div id="news_intro">
                                        <div id="news_title"><a href="http://tramdoc.vn/tin-tuc/tran-chien-dinh-menh-stalingrad-nhin-tu-khia-canh-con-nguoi-nMO6QW.html">Trận chiến định mệnh Stalingrad nhìn từ khía cạnh con người</a></div>
                                        <div id="news_brief">Sách "Stalingrad - Trận chiến định mệnh" khắc họa chân thực, thảm khốc về chiến tranh thế giới thứ hai, đồng thời...</div>
                                        <div id="news_info">

                                            <span id="news_time">07.03.2019</span>
                                        </div>
                                    </div>
                                </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

