<!DOCTYPE html>
<html lang="vi">
    <div class="content">
        <p class="text-size-4 text-center">
            OPENMIND
        </p>
    </div>

    {% if not user.is_authenticated %}

        <div>
            <button> <a href="/login/">Sign In</a> </button>
            <button type="button" >Sign Up</button>
        </div>
        {% if best_book %}
            <u

        <div>
            <a href="/login/">Login to view more</a>
        </div>

    {% else %}

        <p> Hello {{ user.email }}</p>
        <a href="#" onClick="document.getElementById('logoutform').submit()"><button type="button">Logout</button></a>
        <form id="logoutform" method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <input type="hidden">
        </form>


    {% endif %}

</html>